body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
#joystick {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  border: 2px solid #ccc;
  touch-action: none;
  z-index: 10;
}
